# CITES wildlife trade analysis

Collaborators: Daniel Tieleman, Laurens Edwards

## Data set

The CITES wildlife trade database (https://www.kaggle.com/cites/cites-wildlife-trade-database) consists of datapoints that repressent the legal import and export of endangered wildlife between countries in 2016. 

The data set contains the following columns:

- Year (year in which the export took place)
- App. (CITES appendix of species)
- Taxon
- Class 
- Order
- Family
- Genus
- Importer (country)
- Exporter (country)
- Origin (origin country of species)
- Imported reported quantity
- Exporter reported quantity
- Term (specification of exported species)
- Unit (unit of exported species)
- Purpose (purpose of export)
- Source (source of the data)

In [12]:
import pandas as pd

wildlife = pd.read_csv("../Data/CITES_wildlife_trade_database.csv")
wildlife.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C
1,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
2,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,feathers,NaN,S,W
3,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,specimens,NaN,S,W
4,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,DK,IS,NaN,700.0,NaN,specimens,NaN,S,W

## Analysis

For this analysis we were interested in the export of species that were exported with the purpose of reintroduction into the wild. In order to get an overview of this we searched for the countries that exported the most with this purpose. We used an dictionary to store this information. Since only either the import or export quantity were specified per data point we first checked if the export quantity was specified and if not we used the import quantity. For each country we summed these quantities and then used matplotlib to plot a bar plot of the total export per country with the purpose of reintroduction into the wild.

![alt text](../Figures/biggest_exporters.png)

After this we were curious about the export relationship between countries. For this we used the data in a similar way compared to the former analysis but instead of summing all export quantities we stored them separate to graph every interaction in the export network. In the following graph each node represents a country and every edge represents an export with the value indicating the export quantity.

![alt text](../Figures/export_network.png)

# Dependencies

- pandas
- matplotlib.pyplot
- networkx